@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

a{ 
    color: aliceblue;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color:WHITE;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    max-height: fit-content;
    background-color: GREEN;
    color: WHITE;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 100%;
   border-radius: 12px;
   padding: 34px;
   background-image: url('bg.jpg');
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    margin-top: 20px;
    margin-right: 20px;
    width: 80vw; 
    cursor: pointer;
    
}

.songItemContainer{
    margin-top: 10px;
}

.songItem{
    height: 150px;
    width: 50px;
    margin:50px , 25px;
    margin-bottom: 40px;
    
    display: flex ;
    background-color:black;
    
    color: white;
    margin: 12px, 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
}

.songItem img{
    height: 150px;
    width: 160px;
    
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    text-align: center;
    top: 5%;
    
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: red;
    }
  }

.span {
width: 120px;
    height: 120px;
}

.songItem span{
    margin-left: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding-bottom: 50px;
    padding-top: 50px;
    
}

.songItem span{
  text-decoration: dashed;
    text-align: justify;
    white-space: nowrap;
}